<launch>
   <!-- Competition launch file -->
   <!-- <node pkg="competition_controller"
         type="competition_controller.py"
         name="controller" 
         output="screen">
   </node> -->
   <!-- Plate Sweep launch file -->
   <node pkg="competition_controller"
         type="plate_sweep.py"
         name="plate_sweep" 
         output="screen">
   </node>
   <!-- Read Clue launch file -->
   <node pkg="competition_controller"
         type="read_clue.py"
         name="read_clue" 
         output="screen">
   </node>
   <!-- Road PID launch file -->
   <!-- <node pkg="competition_controller"
         type="road_PID.py"
         name="road_PID" 
         output="screen">
   </node> -->
   <!-- Motion Detector launch file -->
   <node pkg="competition_controller"
         type="motion_detector.py"
         name="motion_detector" 
         output="screen">
   </node>
   <!-- Dirtroad PID launch file -->
   <node pkg="competition_controller"
         type="dirtroad_PID.py"
         name="dirtroad_PID" 
         output="screen">
   </node>
   <!-- Lake PID launch file -->
   <node pkg="competition_controller"
         type="Lake_PID.py"
         name="Lake_PID" 
         output="screen">
   </node>
   <!-- Roadless PID launch file -->
   <node pkg="competition_controller"
         type="roadless_PID.py"
         name="roadless_PID" 
         output="screen">
   </node>
   <!--  Teleport_3 launch file -->
   <node pkg="competition_controller"
         type="teleport_3.py"
         name="teleport_3" 
         output="screen">
   </node>
   <!-- Mountain PID launch file -->
   <node pkg="competition_controller"
         type="mountain_PID.py"
         name="mountain_PID" 
         output="screen">
   </node>
</launch>